.App {
  background-color:grey;
}

.details-page{
  background-color: gray;
  margin-bottom: 3rem; 
  height: 200vh;
}

.restName{
  color:cadetblue;
}

.restName:hover{
  color:darksalmon;
  cursor: pointer;
}
